<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="box" id="heading">
        
        <h1>It is a <%=kidofDay%> </h2>
        <h2>It is a <%=timeofDay%> </h2>
    </div>

    <div class="box">
        <%for (let i = 0; i <newlistItems.length; i++) {%>

            <div class="item">
                <input type="checkbox">
                <p> <%=newlistItems[i]%> </p> 
            </div>
             

        <%}%>

        <form action="/" method="post">
            <input type="text" name="newItem" placeholder="newItem">
            <button type="submit" name="button">+</button>
        </form>
        
    </div>

    



</body>
</html>